/* logo_mst_around_square */
.dark_logo_mst_around_square {
	width: 50vw;
	max-width: 300px;
}

.mst_logo {
	transform-origin: center;
	transform: rotateY(0deg) translateX(-600px);
	animation: rotateAround 2s linear infinite;
}

@keyframes rotateAround {
	0% {
		transform: translateX(0px) rotateY(0deg);
	}

	30% {
		transform: translateX(0px) rotateY(0deg);
		opacity: 1;
	}

	40% {
		transform: translateX(600px) rotateY(0deg);
		opacity: 1;
	}

	45% {
		transform: translateX(600px) rotateY(100deg) scaleX(0.2);
	}

	50% {
		transform: translateX(600px) rotateY(140deg) scaleX(0.2);
		opacity: 0;
	}

	60% {
		transform: translateX(0px) rotateY(180deg);
		opacity: 0;
	}

	65% {
		transform: translateX(600px) rotateY(120deg) scaleX(0.2);
	}

	70% {
		transform: translateX(-600px) rotateY(100deg) scaleX(0.2);
		opacity: 0;
	}

	85% {
		transform: translateX(-600px) rotateY(0deg);
		opacity: 1;
	}

	100% {
		transform: translateX(0px) rotateY(0deg);
	}
}