/* arrow_around_square */
.dark_arrow_around_square {
	width: 50vw;
	max-width: 300px;
}

.arrow {
	transform-origin: center;
	transform: rotateY(0deg) translateX(-600px);
	animation: rotateAround 2s linear infinite;
}