/* logo_mst_around_square */
.dark_logo_mst_around_square {
	width: 50vw;
	max-width: 300px;
}

.mst_logo {
	transform-origin: center;
	transform: rotateY(0deg) translateX(-600px);
	animation: rotateAround 2s linear infinite;
}